/*==========Register now====*/

body {
    font-family: Arial, sans-serif;
    background-color: hsl(180, 4%, 12%);
  }
  
  .container {
    
    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 260px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:hsl(79, 97%, 77%);
  }
  
  input[type=text],
   input[type=email], 
   input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--first-color-alt);
    border-radius: 4px;
    background-color: transparent;
    border-color: var(--first-color);
    color: antiquewhite;
    
  }
  
  button[type=submit] {
    background-color:hsl(79, 63%, 50%) ;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }
  
  button[type=submit]:hover {
    background-color:hsl(79, 97%, 77%);
  }
  
  .hero {
    background-image: url('anastase-maragos-9dzWZQWZMdE-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    
  }
  
  
  
  